{% extends "base.html" %}
{% block content %}

<div class="swap-container">

    <div class="swap-card">

        <form method="POST" class="swap-form">

            {% csrf_token %}

            <label>Select Swap User</label>

            <select name="swap_with">

                {% for u in users %}

                <option value="{{ u.id }}">
                    {{ u.username }}
                </option>

                {% endfor %}

            </select>

            <label>Reason</label>

            <textarea
                name="reason"
                placeholder="Write your reason..."
            ></textarea>

            <button type="submit">

                Submit Request

            </button>

        </form>

    </div>

</div>

{% endblock %}