/* ---------- BODY ---------- */

/* BODY */

body {

    margin: 0;

    font-family: "Times New Roman", Georgia, serif;

    color: white;

    min-height: 100vh;

    background: linear-gradient(
        135deg,
        #0b0b0f,
        #1c0033,
        #3b0050,
        #0a2a45,
        #6a0035,
        #cb410b,
        #0b0b0f
    );

    background-attachment: fixed;

    background-repeat: no-repeat;

    background-size: cover;

}




/* ---------- HEADER ---------- */

.header {

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 15px 20px;

    background: rgba(0,0,0,0.65);

    position: fixed;

    width: 100%;

    top: 0;

    z-index: 1000;

}



/* ---------- NAVBAR ---------- */

.navbar a {

    color: white;

    text-decoration: none;

    margin: 0 15px;

    padding: 8px 14px;

    border-radius: 5px;

    font-size: 16px;

    transition: 0.3s;

}


.navbar a:hover {

    background: #a2006d;

}



/* ---------- HERO SECTION ---------- */

.hero {

    height: 100vh;

    display: flex;

    justify-content: center;

    align-items: center;

    text-align: center;

    padding-top: 70px;

    background-image: url("/static/images/medical-pattern.png");

    background-size: 260px;

}



/* HERO TITLE */

.hero h1 {

    font-size: 70px;

    margin-bottom: 10px;

}



/* HERO TEXT */

.hero p {

    font-size: 22px;

    margin-bottom: 20px;

}



/* ---------- BUTTON ---------- */

.btn {

    margin-top: 20px;

    padding: 12px 30px;

    font-size: 18px;

    border: none;

    border-radius: 8px;

    background: #a2006d;

    color: white;

    cursor: pointer;

    transition: 0.3s;

}


.btn:hover {

    background: #c00082;

}



/* ---------- FEATURES SECTION ---------- */

.features {

    display: flex;

    justify-content: center;

    gap: 30px;

    padding: 80px 40px;

}



/* FEATURE CARD */

.card {

    background: rgba(255,255,255,0.1);

    padding: 30px;

    width: 260px;

    border-radius: 10px;

    text-align: center;

    backdrop-filter: blur(4px);

}



/* ---------- FOOTER ---------- */

.footer {

    background: linear-gradient(
        135deg,
        #0b0b0f,
        #1c0033,
        #3b0050,
        #0a2a45,
        #6a0035,
        #cb410b,
        #0b0b0f
    );

    padding-top: 40px;

}



/* ---------- FOOTER GRID ---------- */

.footer-container {

    display: grid;

    grid-template-columns: 1fr 1fr;

    gap: 60px;

    padding: 20px 120px;

}



/* ---------- ABOUT ---------- */

.footer-about h2 {

    margin-bottom: 15px;

}


.footer-about p {

    line-height: 1.6;

}



/* ---------- CONTACT ---------- */

.footer-contact h2 {

    margin-bottom: 15px;

}


.footer-contact p {

    margin: 8px 0;

}



/* ---------- FOOTER BOTTOM ---------- */

.footer-bottom {

    text-align: center;

    background: black;

    color: white;

    padding: 15px;

    margin-top: 30px;

}
