{% extends "base.html" %}

{% block content %}

<div style="padding: 40px; text-align: center; color: white;">

    <h2>Welcome Admin, {{ request.user.username }}</h2>

    <div id="content-area"></div>

</div>

<script>

function loadContent(type) {

    let c = document.getElementById("content-area");

    if (type === "home") {

        c.innerHTML = "<h3>Admin Dashboard</h3>";

    } 
    else if (type === "student") {

        c.innerHTML = "<h3>Student Records</h3>";

    } 
    else if (type === "payment") {

        c.innerHTML = "<h3>Payments</h3>";

    } 
    else if (type === "academic") {

        c.innerHTML = "<h3>Academic Control</h3>";

    } 
    else if (type === "eligibility") {

        c.innerHTML = "<h3>Eligibility</h3>";

    } 
    else if (type === "report") {

        c.innerHTML = "<h3>Reports</h3>";

    } 
    else if (type === "notification") {

        c.innerHTML = "<h3>Notifications</h3>";

    }

}

</script>

{% endblock %}