{% extends "base.html" %}

{% block content %}

<div class="dashboard-container">

<div class="dashboard-grid">

<a href="/library/book-issue/" class="dash-card">
<h3>Book Issue</h3>
</a>

<a href="/library/book-return/" class="dash-card">
<h3>Book Return</h3>
</a>

<a href="/library/book-records/" class="dash-card">
<h3>Book Records</h3>
</a>

<a href="/library/student-history/" class="dash-card">
<h3>Student Borrow History</h3>
</a>

<a href="/library/notifications/" class="dash-card">
<h3>Notifications</h3>
</a>

</div>

</div>

{% endblock %}