{% extends "base.html" %}

{% block content %}

<!-- <h2>Student Dashboard</h2>

<div class="dashboard">

<div class="card">Profile</div>

<div class="card">Results</div>

<div class="card">Course & Syllabus</div>

<div class="card">Class Schedule</div>

<div class="card">Ward Posting</div>

<div class="card">Clinical Case Log</div>

<div class="card">Internship</div>

<div class="card">Library</div>

<div class="card">Payments</div>

<div class="card">Notifications</div>

</div> -->

{% endblock %}