{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="pdf-container">

    <h2 class="pdf-title">
        {{ course }} - Phase {{ phase }}
    </h2>

    <div class="pdf-grid">

        {% for file in files %}
        <div class="pdf-card">

            <div class="pdf-icon">📄</div>

            <div class="pdf-name">
                {{ file }}
            </div>

            <a class="pdf-open-btn"
               href="{% static 'pdfs/' %}{{ course }}/Phase {{ phase }}/{{ file }}"
               target="_blank">

                Open PDF
            </a>

        </div>
        {% empty %}
            <p class="no-pdf">No PDF available</p>
        {% endfor %}

    </div>

</div>

{% endblock %}