{% extends "base.html" %}

{% block content %}

<div class="auth-container">

    <div class="auth-card">

        <h2>User Profile</h2>

        <div class="profile-info">

            <p><b>Username:</b> {{ request.user.username }}</p>

            <p><b>Email:</b> {{ request.user.email }}</p>

            <p><b>Phone:</b> {{ request.user.phone }}</p>

            <p><b>Role:</b> {{ request.user.role }}</p>

        </div>

        <div class="profile-actions">

            <a href="#" class="auth-btn">Edit Profile</a>

            <a href="#" class="auth-btn">Change Password</a>

        </div>

    </div>

</div>

{% endblock %}