{% extends "base.html" %}

{% block content %}

<div class="auth-container">

<div class="auth-card">

<h2>Create Account</h2>

<form method="POST">

{% csrf_token %}

<div class="form-group">
<label>Username</label>
<input type="text" name="username" required>
</div>

<div class="form-group">
<label>Email</label>
<input type="email" name="email" required>
</div>

<div class="form-group">
<label>Phone</label>
<input type="text" name="phone" required>
</div>

<div class="form-group">
<label>Role</label>

<select name="role">

<option value="student">Medical & Dental Student</option>
<option value="intern">Intern Doctor</option>
<option value="faculty">Faculty</option>
<option value="doctor">Doctor</option>
<option value="ward">Ward Authority</option>
<option value="library">Library Staff</option>
<option value="admin">Admin</option>

</select>

</div>

<div class="form-group">
<label>Password</label>
<input type="password" name="password" required>
</div>

<button type="submit" class="auth-btn">

Create Account

</button>

</form>

</div>

</div>

{% endblock %}