{% extends "base.html" %}

{% block content %}

<div class="salary-page">

    {% if salaries %}

    <div class="salary-grid">

        {% for s in salaries %}

        <div class="salary-card">

            <div class="salary-top">

                <div>

                    <h2>{{ s.month }}</h2>

                    <span class="paid-badge">
                        Paid
                    </span>

                </div>

                <div class="money-icon">
                    💰
                </div>

            </div>

            <div class="salary-amount">

                ৳ {{ s.amount }}

            </div>

            <div class="salary-info">

                <div class="info-box">

                    <span>Bank</span>

                    <p>{{ s.bank_name }}</p>

                </div>

                <div class="info-box">

                    <span>Date</span>

                    <p>{{ s.date }}</p>

                </div>

            </div>

        </div>

        {% endfor %}

    </div>

    {% else %}

    <div class="empty-payment">
        No salary records available
    </div>

    {% endif %}

</div>

{% endblock %}